<h1>All flats</h1>

<% @flats.each do |flat|  %>
<p><%= link_to flat.name, flat_path(flat) %> - Price: <%= flat.price_per_night %> - No. Guests <%= flat.number_of_guests %></p>
<p><%= flat.description %></p>
<%= link_to "Delete", flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } %>
<br>
<% end %>

<%= link_to "create new flat here", new_flat_path %>
